@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Manage Human Resources Panel</h2>

<div>
    <h4>Edit settings for Users</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageHrNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
